<%- include('partials/header') %>
<div class="container">
  <h2 class="text-center text-purple">About VYNIL</h2>
  <p>
    VYNYL is a platform that brings you the best concerts and music events
    happening near you. Our mission is to connect music lovers with
    unforgettable experiences.
  </p>
</div>
<%- include('partials/footer') %>
